/* .example-spacer {
    flex: 1 1 auto;
}

.toolbar-header {
    margin-left: 15px;
}

.app-frame {
    height: 100%;
}

md-sidenav-container.mat-drawer-container.mat-sidenav-container {
    height: 100%;
} */

.toolbar-header {
    margin-left: 15px;
}