.header {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: auto;
    padding: 10px;
}
#add-button {
    margin-left: 10px;
}
#remove-button {
    margin-top: 10px;
    height: 25px;
    width: 25px;
}

#input-field {
    margin-top: 1px;
    height: 15px;
}

.section-style {
    padding-left: 1em;
}

.section-style .mat-input-container .mat-input-wrapper.mat-form-field-wrapper {
    padding-bottom: 1em;
}
